/*
!/.gitignore
!/.github/
!/deploy/
!/docs/
!/live-edge/
!/market-scanner/

live-edge/*
!live-edge/*.py

market-scanner/*
!market-scanner/src/
!market-scanner/requirements.txt

__pycache__/
*.pyc
results/
cloud-results/
